<!DOCTYPE html>
{% autoescape true %}
<html>
<head><title></title>
<link rel="stylesheet" href="/static/css/bootstrap.css">
<script src="/static/js/jquery-1.12.0.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/main.js"></script>

</head>

<body>
<div class="container">
		<div class="row">
			<div class="span6">
				<h4>Update</h4>
			</div>
		</div>
  		<div class="row">
  		<form id="update" >

  			<label for="op1">Option1</label>
  			<input id="op1" class="form-control" type="text" name="op1"/>
  			<label for="op1new">Option1 - New Value</label>
  			<input id="op1new" class="form-control" type="text" name="op1new"/>
  			<input type="Submit" value="Save"/>
   		</form>
		</div>		
		<div class="row">
			<div class="results" role="alert">
				<ul id="results-list">
				</ul>
			</div>
		</div>
	</div>
  </body>
</html>
{% endautoescape %}
